body {
  font-family: "M PLUS 1 Code", sans-serif;

  max-width: 38rem;
  padding: 2rem;
}

.video__controls {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.fas,
.fa {
  font-size: 1.3rem;
  padding: 0.3rem;
}

.screenShare_video {
  border: 1px solid gray;
  height: 70vh;
  width: 70vw;
  margin: 0.4rem 0;
}

.button__controls {
  margin-top: 1rem;
}

.sideIconButton {
  position: relative;
  padding: 0.4rem;
  border-radius: 50%;
}

.video__content {
  display: flex;
  padding: 0.1rem;
}

.left__content {
  margin-top: 0.45rem;
  display: flex;
  flex-direction: column;
  margin-right: 0.2rem;
  padding: 1rem;
  height: 70vh;
  border: 1px solid rgb(156, 144, 144);
}

.btn-side-icon {
  margin-top: 1rem;
}

.icon_record {
  color: coral;
  font-size: 3.5rem;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes breathe2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.btn_animmate {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100%;
  background-color: rgb(85, 231, 85);
}

.btn_animmate::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2.4px;
  z-index: 2;
  width: 54px;
  height: 54px;
  background: rgb(85, 231, 85);
  opacity: 0.3;
  border-radius: 100%;
  animation: breathe2 2s infinite;
}
.btn_animmate::after {
  content: "";
  position: absolute;
  top: -3.4px;
  left: -3.4px;
  z-index: 2;
  width: 53px;
  height: 53px;
  background: rgb(85, 231, 85);
  opacity: 0.3;
  border-radius: 100%;
  animation: breathe 2s infinite;
}
