body {
  font-family: "M PLUS 1 Code", sans-serif;

  max-width: 38rem;
  padding: 2rem;
}

.video__controls {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.fas,
.fa {
  font-size: 1.3rem;
  padding: 0.3rem;
}

.screenShare_video {
  border: 1px solid rgb(201, 201, 201);
  height: 70vh;
  width: 70vw;
  margin: 0.4rem 0;
  border-radius: 25px;
}

.button__controls {
  margin-top: 1rem;
}

.sideIconButton {
  position: relative;
  padding: 0.4rem;
  border-radius: 50%;
}

.video__content {
  display: flex;
  padding: 0.1rem;
}

.left__content {
  margin-top: 0.45rem;
  display: flex;
  flex-direction: column;
  margin-right: 0.2rem;
  padding: 1rem;
  height: 70vh;
  background-color: 1px solid rgb(236, 231, 231);
}

.btn-side-icon {
  margin-top: 1rem;
}

.icon_record {
  font-size: 3.5rem;
}
